@import "tailwindcss";

/* !CUSTOM CLASSES */
@layer base {
  .body-margin {
    @apply mx-auto max-w-4xl;
  }
  .main-margin {
    @apply ring-accent px-6 py-3 ring-1;
  }
}

/* !FONTS */
@theme {
  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* !THEME TOGGLE */
@layer base {
  body {
    --z-old: 1;
    --z-new: 2;
  }
  .dark {
    --z-old: 2;
    --z-new: 1;
  }
}

/* !THEME TRANSITION */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: var(--z-old);
}
::view-transition-new(root) {
  z-index: var(--z-new);
}

/* !SCROLLBAR STYLING */
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-accent);
  }
}
